# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
media/
static/
!static/css/index.css
!static/js/olivecrm.js
staticfiles/

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
